anthropic==0.54.0
boto3==1.23.10
botocore==1.26.10
Flask==1.1.4
langchain==0.3.25
langchain_aws==0.2.25
langchain_community==0.3.25
langchain_core==0.3.65
numpy==1.25.2
strands==0.1.0
Werkzeug==1.0.1
